
name: CI/CD Pipeline

on:
  [push,pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba and create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-lint.yml
      - name: Run Black to check code formatting
        run: |
          black src/ tests/ --check 
        shell: micromamba-shell {0}
      - name: Run Ruff to check for linting issues
        run: |
          ruff check src/ tests/ 
        shell: micromamba-shell {0}

  run-unit-tests:
    runs-on: ubuntu-latest
    outputs:
      unit-test-coverage-report: ${{ steps.upload-unit-coverage.outputs.artifact-id }}
    needs:
      - lint
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-unittests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          COVERAGE_FILE=.unit-coverage pytest --cov=src --cov=tests/unit tests/unit
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        id: upload-unit-coverage
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests-coverage-report
          path: .unit-coverage
          include-hidden-files: true

  run-smoke-tests:
    runs-on: ubuntu-latest
    outputs:
      tutorial-test-coverage-report: ${{ steps.upload-tutorial-coverage.outputs.artifact-id }}
    needs:
      - lint
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-tutorialtests.yml
      - name: Run Tests with Coverage
        run: |
          COVERAGE_FILE=.tutorial-coverage pytest --cov=src --cov=tests/tutorial tests/tutorial
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        id: upload-tutorial-coverage
        uses: actions/upload-artifact@v4
        with:
          name: tutorial-coverage-report
          path: .tutorial-coverage
          include-hidden-files: true
  upload-notebooks:
    runs-on: ubuntu-latest
    needs: [run-smoke-tests]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-notebook.yml
      - name: Convert notebooks via jupytext in script
        run: |
          python3 scripts/move_notebooks.py
        shell: micromamba-shell {0}
      - name: Upload converted notebook scripts
        uses: actions/upload-artifact@v4
        with:
          name: converted-notebook
          path: notebooks/
    
  combine-coverage-reports:
    runs-on: ubuntu-latest
    needs: [run-unit-tests, run-smoke-tests]
    env:
      UNIT_TEST_COVERAGE_REPORT: ${{ needs.run-unit-tests.outputs.unit-test-coverage-report}}
      TUTORIAL_TEST_COVERAGE_REPORT: ${{ needs.run-smoke-tests.outputs.tutorial-test-coverage-report}}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Install Micromamba, create and activate environment
      uses: mamba-org/setup-micromamba@v2
      with:
        generate-run-shell: true
        environment-file: etc/environment-coverage-reports.yml
    - name: Download unit tests coverage report 
      uses: actions/download-artifact@v5
      with:
        artifact-ids: ${{ env.UNIT_TEST_COVERAGE_REPORT }}
    - name: Download tutorial tests coverage report 
      uses: actions/download-artifact@v5
      with:
        artifact-ids: ${{ env.TUTORIAL_TEST_COVERAGE_REPORT }}
    - name: Combine coverage reports
      run: |
        coverage combine .tutorial-coverage .unit-coverage
        coverage html
      shell: micromamba-shell {0}
    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov/
