
name: CI/CD Pipeline

on:
  [push,pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba and create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-lint.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Black to check code formatting
        run: |
          black src/ tests/ --check 
        shell: micromamba-shell {0}
      - name: Run Ruff to check for linting issues
        run: |
          ruff check src/ tests/ 
        shell: micromamba-shell {0}

  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-unittests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          COVERAGE_FILE=.unit-coverage pytest --cov=src --cov=tests/unit tests/unit
        shell: micromamba-shell {0}
      - name: upload coverage report to cache 
        uses: actions/cache/save@v4
        with:
          path: ./.unit-coverage
          key: unit-tests-coverage-report-{{ github.run_id }}

  run-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-tutorialtests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          COVERAGE_FILE=.tutorial-coverage pytest --cov=src --cov=tests/tutorial tests/tutorial
        shell: micromamba-shell {0}
      - name: upload coverage report to cache 
        uses: actions/cache/save@v4
        with:
          path: ./.tutorial-coverage
          key: tutorial-tests-coverage-report-{{ github.run_id }}
      - name: create notebook 
        run: |
          jupytext --to ipynb --execute src/step_3/notebook.py
        shell: micromamba-shell {0}
      - name: upload notebook artifact
        uses: actions/upload-artifact@v4
        with:
          name: notebook.ipynb
          path: src/step_3/notebook.ipynb
    
  combine-coverage-reports:
    runs-on: ubuntu-latest
    needs: [run-unit-tests, run-smoke-tests]
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Install Micromamba, create and activate environment
      uses: mamba-org/setup-micromamba@v2
      with:
        generate-run-shell: true
        environment-file: etc/environment-coverage-reports.yml
        cache-environment: true
        cache-downloads: true
    - name: Restore unit tests coverage report from cache
      id: cache-unit-tests
      uses: actions/cache/restore@v4
      with:
        path: .unit-coverage
        key: unit-tests-coverage-report-{{ github.run_id }}
    - name: Restore tutorial tests coverage report from cache
      id: cache-tutorial-tests
      uses: actions/cache/restore@v4
      with:
        path: .tutorial-coverage
        key: tutorial-tests-coverage-report-{{ github.run_id }}
    - name: Combine coverage reports
      if: steps.cache-unit-tests.outputs.cache-hit == 'true' && steps.cache-tutorial-tests.outputs.cache-hit == 'true'
      run: |
        coverage combine .tutorial-coverage .unit-coverage
        coverage html
      shell: micromamba-shell {0}
    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov/
