name: CI/CD Pipeline

on:
  [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba and create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-lint.yml
      - name: Run Black to check code formatting
        run: |
          black src/ tests/ --check
        shell: micromamba-shell {0}
      - name: Run Ruff to check for linting issues
        run: |
          ruff check src/ tests/
        shell: micromamba-shell {0}

  run-serial-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-serial-unittests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          pytest --cov . tests/unit/serial
          mv .coverage .coverage.unit.serial
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.unit.serial
          path: .coverage.unit.serial
          include-hidden-files: true

  run-parallel-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-parallel-unittests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Parallel Unit Tests with Coverage
        run: |
          mpirun -np 4 coverage run -m pytest tests/unit/parallel
          coverage combine 
          mv .coverage .coverage.unit.parallel
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.unit.parallel
          path: .coverage.unit.parallel
          include-hidden-files: true

  run-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-tutorialtests.yml
      - name: Run Tests with Coverage
        run: |
          pytest --cov . tests/tutorial
          mv .coverage .coverage.tutorial
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v4
        with:
          name: .coverage.tutorial
          path: .coverage.tutorial
          include-hidden-files: true

  upload-notebooks:
    runs-on: ubuntu-latest
    needs: [run-smoke-tests]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-notebook.yml
      - name: Convert and move notebooks via bash script
        run: |
          ./scripts/convert-and-move-notebooks.sh
        shell: micromamba-shell {0}
      - name: Upload converted notebook directory as artifact
        uses: actions/upload-artifact@v4
        with:
          name: converted-notebooks
          path: notebooks/

  combine-coverage-reports:
    runs-on: ubuntu-latest
    needs: [run-serial-unit-tests, run-parallel-unit-tests, run-smoke-tests]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/env-coverage-reports.yml
      - name: Download coverage reports
        uses: actions/download-artifact@v4
        with:
          path: .
          pattern: ".coverage.*"
          merge-multiple: true
      - name: Combine coverage reports
        run: |
          coverage combine
          coverage html
        shell: micromamba-shell {0}
      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v5
        with:
          name: combined-coverage-report
          path: htmlcov/
