
name: CI/CD Pipeline

on:
  [push,pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba and create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-lint.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Black to check code formatting
        run: |
          black src/ tests/ --check 
        shell: micromamba-shell {0}
      - name: Run Ruff to check for linting issues
        run: |
          ruff check src/ tests/ 
        shell: micromamba-shell {0}

  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-unittests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          pytest --cov --cov-report=html tests/unit
        shell: micromamba-shell {0}
      - name: upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests-coverage-report
          path: htmlcov

  run-smoke-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Micromamba, create and activate environment
        uses: mamba-org/setup-micromamba@v2
        with:
          generate-run-shell: true
          environment-file: etc/environment-tutorialtests.yml
          cache-environment: true
          cache-downloads: true
      - name: Run Tests with Coverage
        run: |
          pytest --cov --cov-report=html tests/tutorial
        shell: micromamba-shell {0}
      - name: upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: smoke-tests-coverage-report
          path: htmlcov
      - name: create notebook 
        run: |
          jupytext --to ipynb --execute src/step_3/notebook.py
        shell: micromamba-shell {0}
      - name: upload notebook artifact
        uses: actions/upload-artifact@v4
        with:
          name: notebook.ipynb
          path: src/step_3/notebook.ipynb